.shadow-box{
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	width: 80%;
	padding: 60px 40px;
}

.home{
	
}
.home .lowerbody{
	width: 100%;
	margin-top: 800px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	border: 0px solid red;
	/* height: 500px; */

}

.home .lowerbody .aboutus{
	
	display: flex;
	
	flex-direction: column;
	margin-left: 5%;

	/* shadow box */
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	width: 90%;
	padding: 60px 40px;
}

.home .lowerbody .aboutus .aboutusbody {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}
.home .aboutus h2 {
	color: white;
	padding-bottom: 5px;
	text-align: left;
}
.home .aboutusbody h4 {
	color: white;
	padding-bottom: 5px;
	text-align: left;
	padding: 10px;
}


.home .aboutusbody .leftc {
	width: 30%;
	margin-left: 20px;
	
	padding: 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.home .aboutusbody .rightc {
	color: white;
	width: 50%;
	max-width: 80%;
	border: 1px solid red;
	margin-left: 0px;
	margin-right: 20px;
	text-align: left;
	
}

.home .lowerbody .tagline {
	margin-top: 100px;
	margin-bottom: 100px;
	color: white;
	border: 5px solid red;
	width: 100%;
	height: auto;
}
.home .lowerbody .tagline h2, .author{
	text-align: center;
	font-size: 45px;
	margin: 5px;
}
.home .lowerbody .tagline .author{
	font-size: 25px;
}
.home .lowerbody .divimage1{
	width: 100%;
	position: relative;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	/* justify-content: flex-end; */
	
}
.home .lowerbody .divimage1 .img{
	height: 500px;
	width: 100%;
	position: absolute;
	border: 1px solid yellow;
	overflow: hidden;
}
.home .lowerbody .divimage1 .img img{
	width: 100%;
	object-fit: cover;
	/* position: absolute; */
	min-height: 100%;
	min-width: 100%;

}

.home .lowerbody .divimage1 .img-tag{

	margin-top: 300px;
	
	/* shadow box */
	background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	width: 40%;
	padding: 60px 40px;
	
}
.home .lowerbody .gallery-grid{
	border: 1px solid red;
	width: 90%;
	
}
.home .lowerbody .gallery-grid .grid-container{
	display: grid;
	height: 300px;
	grid-template-columns: 1fr 1fr 1fr 1fr ;
	grid-template-rows: 1fr 1fr 1fr 1fr ;
    border: 1px solid rgb(0, 255, 17);
    grid-gap: 15px;
	grid-template-areas: "l-img-1 l-img-1 s-img-1 s-img-2"
						 "l-img-1 l-img-1 s-img-3 s-img-4"
						 "s-img-5 s-img-6 l-img-2 l-img-2"
						 "s-img-7 s-img-8 l-img-2 l-img-2";
	
}

.home .lowerbody .gallery-grid .grid-container {
	width: 100%;
  
	display: grid;
	grid:
	  "L L S1 S2" 1fr
	  "L L S3 S4" 1fr
	  "S5 S6 L2 L2" 1fr
	  "S7 S8 L2 L2" 1fr
	  / 1fr 1fr 1fr 1fr;
	gap: 8px;
  }
  
  .L { grid-area: L; }
  .S1 { grid-area: S1; }
  .S2 { grid-area: S2; }
  .S3 { grid-area: S3; }
  .S4 { grid-area: S4; }
  .S5 { grid-area: S5; }
  .S6 { grid-area: S6; }
  .L2 { grid-area: L2; }
  .S7 { grid-area: S7; }
  .S8 { grid-area: S8; }


  
.home .lowerbody .gallery-grid .grid-container .grid-item{
	
    overflow: hidden;
	border: 1px solid yellow;
}


.home .lowerbody .gallery-grid .grid-container .grid-item img{
	
    min-height: 100%;
    min-width: 100%;
	object-fit: cover;
	border: 1px solid yellow;
}

.home .lowerbody .gallery-grid .grid-container .grid-item .grid-item-1{
   grid-column: 1/2;
   
	
}

.home .lowerbody .gallery-grid .grid-container .grid-item .grid-item-2{
    grid-area: s-img-1;
}

.home .lowerbody .gallery-grid .grid-container .grid-item .grid-item-3{
    grid-area: s-img-2;
}
.home .lowerbody .gallery-grid .grid-container .grid-item .grid-item-4{
    grid-area: s-img-3;
}

.home .lowerbody .gallery-grid .grid-container .grid-item .grid-item-5{
	grid-area: s-img-4;
}

.home .lowerbody .gallery-grid .grid-container .grid-item .grid-item-6{
    grid-area: l-img-2;
}
