.shadow-box{
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	width: 80%;
	padding: 60px 40px;
}

.home{
	
}
.home .lowerbody{
	width: 100%;
	margin-top: 800px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	border: 0px solid red;
	/* height: 500px; */

}

.home .lowerbody .aboutus{
	
	display: flex;
	
	flex-direction: column;
	margin-left: 5%;

	/* shadow box */
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	width: 90%;
	padding: 60px 40px;
}

.home .lowerbody .aboutus .aboutusbody {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}
.home .aboutus h2 {
	color: white;
	padding-bottom: 5px;
	text-align: left;
}
.home .aboutusbody h4 {
	color: white;
	padding-bottom: 5px;
	text-align: left;
	padding: 10px;
}


.home .aboutusbody .leftc {
	width: 30%;
	margin-left: 20px;
	
	padding: 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.home .aboutusbody .rightc {
	color: white;
	width: 50%;
	max-width: 80%;
	border: 1px solid red;
	margin-left: 0px;
	margin-right: 20px;
	text-align: left;
	
}

.home .lowerbody .tagline {
	margin-top: 100px;
	margin-bottom: 100px;
	color: white;
	border: 5px solid red;
	width: 100%;
	height: auto;
}
.home .lowerbody .tagline h2, .author{
	text-align: center;
	font-size: 45px;
	margin: 5px;
}
.home .lowerbody .tagline .author{
	font-size: 25px;
}
.home .lowerbody .divimage1{
	width: 100%;
	position: relative;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	/* justify-content: flex-end; */
	
}
.home .lowerbody .divimage1 .img{
	height: 500px;
	width: 100%;
	position: absolute;
	border: 1px solid yellow;
	overflow: hidden;
}
.home .lowerbody .divimage1 .img img{
	width: 100%;
	object-fit: cover;
	/* position: absolute; */
	min-height: 100%;
	min-width: 100%;

}

.home .lowerbody .divimage1 .img-tag{

	margin-top: 300px;
	
	/* shadow box */
	background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	width: 40%;
	padding: 60px 40px;
	
}




